.authCard {
  width: 527px;
  min-width: 400px;
  height: 70%;
  min-height: 400px;
  padding: 6px;
  border: 1px solid $grey-2;
  border-radius: 40px;
  background-color: $color-white;
  box-shadow: 0px 24px 32px rgba($color-black, 0.04);

  .wrapper-content {
    background: linear-gradient(180deg, $grey-2 20%, $color-white 100%);
    border-radius: 34px;
    padding: 1px;
  }

  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    z-index: 0;

    padding: 48px;
    background: linear-gradient(180deg, $grey-1 0%, $color-white 50%);
    border-radius: 33px;
  }

  .title {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 12px;

    > h1 {
      font-size: 40px;
      line-height: 110%;
      font-weight: 700;
    }

    &-text {
      color: $grey-4;
      font-size: 18px;
    }
  }

  .form {
    width: 100%;
    flex-grow: 1;
  }

  :global(.ant-divider-inner-text) {
    color: $grey-7;
  }

  .bottom-text {
    text-align: center;
    color: $grey-8;
    font-size: 18px;

    > a {
      color: $primary-color;
      text-decoration: underline;
      font-weight: 700;
    }
  }
}
