.name {
  display: flex;
  flex-direction: row;
  gap: 18px;

  .image {
    width: 48px;
    height: 48px;
    object-fit: cover;
  }

  .text {
    display: flex;
    flex-direction: column;

    .title {
      font-weight: 700;
    }

    .category {
      font-weight: 400;
      font-size: 14px;
      color: $grey-10;
    }
  }
}