$color-white: #fff;
$color-black: #000;

$grey-1: #F9F9F9;
$grey-2: #EDEDED;
$grey-7: #B0B0B0;
$grey-5: #C9C9C9;
$grey-4: #BCBCBC;
$grey-6: #9C9C9C;
$grey-8: #6C6C6C;
$grey-3: #232323;

$primary-color: #242EDB;
$secondary-color: #367AFF;