.products-pagination {
  font-family: 'Roboto';

  :global(.ant-pagination-total-text) {
    flex-grow: 1;
    color: #969B9F;
  }

  .total-numbers {
    color: $color-black;
  }

  :global(.ant-pagination-item-link) {
    svg {
      color: $grey-10;
    }
  }

  :global(.ant-pagination-item) {
    border: 1px solid $grey-12;
    border-radius: 4px;

    font-size: 14px;

    a {
      color: $grey-10;
    }
  }

  :global(.ant-pagination-item-active) {
    background-color: $hera-blue;

    a {
      color: $color-white;
    }

    &:hover {
      border: none;

      a {
        color: $color-white;
      }
    }
  }
}
