.authForm {
  display: flex;
  flex-direction: column;
  gap: 20px;

  :global(.ant-form-item) {
    --ant-form-item-margin-bottom: 0;

    :global(.ant-input-outlined) {
      height: 55px;
    }

    :global(.ant-input-prefix), :global(.ant-input-suffix) {
      svg {
        color: $grey-5;
      }
    }

    :global(.ant-checkbox) {
      --ant-control-interactive-size: 24px;
    }

    :global(.ant-checkbox-label) {
      color: $grey-6;
    }

    :global(.ant-btn) {
      height: 55px;
      background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.12) 100%), $primary-color;
      border: 1px solid #367AFF;
      box-shadow: 0px 8px 8px rgba(54, 122, 255, 0.03), inset 0px -2px 0px 1px rgba(0, 0, 0, 0.08);
      border-radius: 12px;
    }
  }
}
